.search-text-font {
    font-family:'Trebuchet MS';
    top:20%;
    position: relative;
}

.weather-icon {
    top:20%;
    position: relative;
}

.full-width {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 0;
}


    